#header {
	background-color: #24b1c4;
	color: #ffffff;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
    font-family: "Play", sans-serif;
    max-height: 191px;
}

body {
	background: url(https://www.toptal.com/designers/subtlepatterns/patterns/gplaypattern.png);
}

#topImageL {
    width: 11%;
    max-height: 171px;;
	float: left;
	margin-left: 60px;
}

#topImageR {
    width: 11%;
    max-height: 171px;
	float: right;
	margin-right: 60px;
}

label {
	font-size: 18px;
}

#action {
	margin: 5px;
}

#giphySearch {
	margin: 0 auto;
	text-align: center;
	font-family: "Play", sans-serif;
}

#gifArea {
	clear: both;
	display: inline;
	flex-wrap: wrap;
}

.imgGiphy {
	padding: 10px;
	max-width: 90%;
	max-height: 90%;
}

.col-md-4 {
	
}


  
